$primary-color: rgb(0, 0, 0);


* {
    margin: 0;
    padding: 0;
}

body {
    background: $primary-color;
    font-size: 16px;
    font-family: arial;
}

.wrapper {
    margin-top: 10px;
    margin-left: 10px;
    height: 300px;
    display: grid;
    grid-template-columns: 30% 55% 15%;
    // grid-gap: 1em;


}


.container {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 120px;
    border: 3px solid rgb(130, 127, 86);
    background: rgb(41, 7, 7);
}


#avatar {
    position: relative;
    height: 100px;
    width: 100px;
    border: 3px solid rgb(130, 127, 86);
    border-radius: 50%;
    top: 5px;
    left: 20px;
    background-image: url("/../dist/images/eskau.PNG");
    background-position: center;
    background-size: contain;
}

#character {
    text-align: center;
    position: relative;
    top: 25px;
    background-color: rgba(50, 50, 98, 0.8);
    color: rgb(156, 152, 89);
    font-size: 0.7em;
    height: 62px;
    width: 98%;
    border: 3px solid rgb(130, 127, 86);


    & h2 {
        border: 2px solid black;
    }


    .bar {
        position: relative;
        width: 98%;
        height: 15px;

        &#health {
            background: green;
            border: 2px solid black;
        }

        &#mana {
            background: blue;
            border: 2px solid black;
        }
    }

}

#map-header {
    font-size: 0.7em;
    text-align: center;
    width: 150px;
    height: 30px;
    background-color: white;
    color: rgb(130, 127, 86);
    border: 3px solid rgb(54, 54, 22);
    background: rgb(41, 7, 7);

    h2 {
        position: relative;
        top: 5px;
    }
}

#map {
    height: 150px;
    width: 150px;
    border: 5px solid rgb(59, 54, 5);
    border-radius: 50%;
    background-image: url("/../dist/images/svmap.PNG");
    background-position: center;
    background-size: contain;
}