$primary-color: rgb(0, 0, 0);
$secondary-color: rgb(41, 7, 7);
$tertiary-color: rgb(130, 127, 86);


* {
    margin: 0;
    padding: 0;
}

body {
    background: $primary-color;
    font-size: 16px;
    font-family: arial;
    background-image: url("https://render-eu.worldofwarcraft.com/character/blades-edge/25/144396569-main.jpg");
}

.wrapper {
    margin-top: 10px;
    margin-left: 10px;
    height: 20vh;
    display: grid;
    grid-template-columns: 30% 55% 15%;
}


.container {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 120px;
    border: 3px solid rgb(130, 127, 86);
    background: $secondary-color;
}


#avatar {
    position: relative;
    height: 100px;
    width: 100px;
    border: 3px solid $tertiary-color;
    border-radius: 50%;
    top: 5px;
    left: 20px;
    background-image: url("/../dist/images/eskau.PNG");
    background-position: center;
    background-size: contain;

    #level {
        height: 25px;
        width: 25px;
        background-color: rgb(0, 0, 0);
        position: relative;
        top: 75%;
        border: 3px solid $tertiary-color;
        border-radius: 50%;
        color: $tertiary-color;

        p {
            font-size: 0.8rem;
            text-align: center;
            position: relative;
            top: 5px;
        }
    }
}

#character {
    text-align: center;
    position: relative;
    top: 25px;
    background-color: rgba(50, 50, 98, 0.8);
    color: rgb(156, 152, 89);
    font-size: 0.7em;
    height: 62px;
    width: 98%;
    border: 3px solid $tertiary-color;


    & h2 {
        border: 2px solid black;
    }


    .bar {
        position: relative;
        width: 98%;
        height: 15px;

        &#health {
            background: green;
            border: 2px solid black;
        }

        &#mana {
            background: blue;
            border: 2px solid black;
        }
    }

}

#capsule {
    display: grid;
    grid-template-columns: 75% 25%;
}


#ability {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    width: 300px;
    margin: 0 auto;
    position: relative;
    top: 50px;

    h1 {
        position: relative;
        float: right;
        right: 20px;
        top: 20px;
    }

    p {
        margin-left: 5px;
    }
}


#spells-container {
    float: right;

    img {
        position: relative;
        top: 15px;
        height: 30px;
    }
}



#map-header {
    font-size: 0.7em;
    text-align: center;
    width: 150px;
    height: 30px;
    background-color: white;
    color: $tertiary-color;
    border: 3px solid rgb(54, 54, 22);
    background: $secondary-color;

    h2 {
        position: relative;
        top: 5px;
    }
}

#map {
    height: 150px;
    width: 150px;
    border: 5px solid $tertiary-color;
    border-radius: 50%;
    background-image: url("/../dist/images/svmap.PNG");
    background-position: center;
    background-size: contain;
}


#intro {
    top: 250px;

    #speech-bubble {
        color: rgb(185, 184, 140);
        position: absolute;
        text-align: center;
        background-color: rgb(0, 0, 0);
        top: 20%;
        left: 30%;
        padding: 15px;
        border: 1px solid $tertiary-color;
        border-radius: 10px;

        p {
            font-size: 1.2rem;

            & i {
                color: green;
                margin-left: 5px;

                &:hover {
                    color: rgb(60, 255, 0);
                    cursor: pointer;
                }
            }
        }
    }
}



main {
    visibility: hidden;
    height: 60vh;
    display: grid;
    grid-template-columns: 60% 35%;

    #tradescreen {
        border: 3px solid $tertiary-color;
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: 10px;
        background: $secondary-color;

        div {

            .title {
                background: $secondary-color;
                position: relative;

                i {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    font-size: 2rem;
                    color: rgb(134, 7, 7);

                    &:hover {
                        cursor: pointer;
                        color: rgb(255, 0, 0);
                    }
                }
            }

            img {
                height: 100px;
                border: 3px solid $tertiary-color;
                border-radius: 50%;

            }

            h1 {
                display: inline;
                text-align: center;
                position: relative;
                top: -40px;
                left: 70px;
                color: $tertiary-color;
            }

            .trade-box {
                height: 100px;
                display: grid;
                grid-template-columns: 30% 70%;

                .item {
                    border: 1px solid gold;
                    border-radius: 10px;
                    background: #252525;
                    background-size: 16px 16px;
                    background-image: none;

                }

                .itemx {
                    border: 1px solid gold;
                    border-radius: 10px;
                    background: #252525;
                    background-size: 16px 16px;
                    background-image: none;

                }

                .description {
                    border: 1px solid $tertiary-color;
                    border-radius: 10px;
                    background: rgb(7, 7, 7);
                }
            }

            .trading-btn {
                color: rgb(255, 255, 255);
                background-color: $secondary-color;
                font-size: 1.5rem;
                width: 200px;
                height: 50px;
                border: 3px solid white;
                cursor: pointer;

                &#trade {
                    float: right;
                }

                &#clear {
                    background: rgb(184, 184, 184);
                }

            }
        }
    }
}

.toolbar-wrapper {
    height: 15vh;
    display: grid;
    grid-template-columns: 5% 40% 30% 20% 5%;
    grid-gap: 1em;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 20px;



    .spells {
        position: relative;
        left: 20px;
        top: 20px;
    }

    .mini-images {
        position: relative;
        top: 20px;
        height: 60px;
        border: 2px solid gold;
    }

    #backpack:hover {
        cursor: pointer;
    }

    #satchel:hover {
        cursor: pointer;
    }
}

#backpack-space {
    z-index: 2;
    visibility: hidden;
    text-align: center;
    background: white;
    height: 300px;
    width: 250px;
    position: relative;
    top: 10%;
    left: 35%;
    border: 3px solid black;

    h1 {
        background: $secondary-color;
        color: white;
        font-size: 1rem;
        padding: 15px;
    }


    #backpack-open {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        border: 1px solid black;
        background-color: black;

        div {
            height: 50px;
            border: 1px solid black;
            border-radius: 10px;
            background-color: #282828;

            img {
                height: 50px;
                width: 55px;
                border-radius: 10px;

                &:hover {
                    cursor: pointer;
                    border: solid 1px gold;
                }
            }
        }
    }
}